
/*===========================
     14.ABOUT PAGE css 
===========================*/


.about_content-2{
    padding-top: 45px;
    padding-bottom: 0;
}

.about_image_2{
    padding-top: 50px;
    
    & img{
        width: 100%;
    }
}







