/*===========================
      10.FOOTER css 
===========================*/

.footer_area{}


.footer_widget{
    & .footer_title{
        & .title{
            font-size: 24px;
            color: $black;
            font-weight: 600;
        }
    }
    
    & .footer_link{
        & .link{
            padding-top: 15px;
            
            & li{
                margin-top: 15px;
                
                & a{
                    font-size: 16px;
                    font-weight: 400;
                    color: $body-color;
                    @include transition(0.3s);
                    
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
        }
    }
    
    & .footer_contact{
        & .contact{
            padding-top: 15px;
            
            & li{
                margin-top: 10px;
                
                & p{
                    font-size: 16px;
                    font-weight: 400;
                    color: $body-color;
                    line-height: 36px;
                    
                    & span{
                        color: $black;
                        font-weight: 500;
                    }
                }
            }
        }
        
        & .social{
            padding-top: 25px;
            
            & li{
                display: inline-block;
                margin-left: 18px;
                
                &:first-child{
                    margin-left: 0;
                }
                
                & a{
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    text-align: center;
                    font-size: 16px;
                    color: $theme-color;
                    background-color: #ececec;
                    border-radius: 50%;
                    @include transition(0.3s);
                    
                    &:hover{
                        background-color: $theme-color;
                        color: $white;
                    }
                }
            }
        }
    }
}

.footer_copyright{
    border-top: 1px solid $border-color;
    padding-bottom: 15px;
    padding-top: 5px;
    
    & .copyright_content{
        & .logo{
            margin-top: 10px;
        }
        & .copyright{
            font-size: 16px;
            font-weight: 500;
            color: $black;
            margin-top: 10px;
        }
    }
}



/*===== BACK TO TOP =====*/

.back-to-top{
    font-size: 20px;
    color: $white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 36px;
    border-radius: 5px;
    background-color: $theme-color;
    text-align: center;
    z-index: 99;
    @include transition(0.3s);
    display: none;
    
    &:hover{
        color: $white;
        background-color: $theme-color;
    }
}










