// Font Family
$font-1: 'Montserrat', sans-serif;
$font-2: 'Open Sans', sans-serif;

// Colors ---------------
$white: #fff;
$black: #222;
$gray: #f8f8f8;


// Theme Color
$theme-color: #3dbeee;
$theme-color-2: #e8f9ff;


//Body Color
$body-color: #444;


// Border Color
$border-color: #dadada;


// Extra color
$extra-color-1: #ff8b21;
$extra-color-2: #18bd26;
$extra-color-3: #1853c9;
$extra-color-4: #d022c2;
$extra-color-5: #3fc3de;
$extra-color-6: #f5076a;


// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md: 'only screen and (min-width: 768px) and (max-width: 991px)';
$xs: '(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


